@charset 'UTF-8';
.circlebutton{
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}
h3{ 
    font-size: 1.2em; 
    font-weight: bold; 
    padding: 0.2em 1em 0.2em 0.2em; 
    margin: 0 0 1em 0; 
    border-left: 10px solid #f90; 
    border-bottom: 1px solid #f90; 
}
.messa{ 
    margin: 50px;
    position: relative;
    width:100px;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #e6f4ff;
    color: #5c98d4;
    font-weight: bold;

}
.messa:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e6f4ff;
    width: 0;
    height: 0;
}
.messa p {
    margin: 0; 
    padding: 0;
}
#Btn1{
    font-size: 3em; 
    font-weight: bold; 
    width: 400px;
    height: 400px;
    margin: 40px;
    display: inline-block;
    color: #b264ff;
    border: double 20px #ffffff;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: radial-gradient(#eedeff 0%, #fea1df 80%);
}
#Btn2{
    font-size: 3em; 
    font-weight: bold; 
    width: 300px;
    height: 200px;
    margin: 40px;
    display: inline-block;
    color: #b264ff;
    border: double 20px #ffffff;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-image: radial-gradient(#eedeff 0%, #fea1df 100%);
}
.back{
    background-color: greenyellow;
}