@charset 'UTF-8';
.circlebutton{
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}
h3{ 
    font-size: 1.2em; 
    font-weight: bold; 
    padding: 0.2em 1em 0.2em 0.2em; 
    margin: 0 0 1em 0; 
    border-left: 10px solid #f90; 
    border-bottom: 1px solid #f90; 
}
.messa{ 
    margin: 50px;
    position: relative;
    width:100px;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #e6f4ff;
    color: #5c98d4;
    font-weight: bold;

}
.messa:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e6f4ff;
    width: 0;
    height: 0;
}
.messa p {
    margin: 0; 
    padding: 0;
}
#Btn1{
    font-size: 3em; 
    font-weight: bold; 
    width: 400px;
    height: 400px;
    margin: 40px;
    display: inline-block;
    color: #b264ff;
    border: double 20px #ffffff;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: radial-gradient(#eedeff 0%, #fea1df 80%);
}
#Btn2{
    font-size: 3em; 
    font-weight: bold; 
    width: 300px;
    height: 200px;
    margin: 40px;
    display: inline-block;
    color: #b264ff;
    border: double 20px #ffffff;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-image: radial-gradient(#eedeff 0%, #fea1df 100%);
}
.soap_wrap {
	position: relative;
	height: 260px; /*お好みで*/
}
.soap {
	position: absolute;
	left: calc(50% - 100px); /*お好みで*/
	top: calc(50% - 100px); /*お好みで*/
	width: 200px; /*お好みで*/
	height: 200px; /*お好みで*/
	border-radius: 50% 46% 48% 44%;
	overflow: hidden;
	background: radial-gradient(at 46% 54%, transparent 50%, rgba(2, 172, 253,0.3) 70%, transparent 100%) 50% 50% no-repeat;
	animation: soap 10s 0s ease-in-out infinite;
	z-index: 1;
}
.soap::before{
	content: "";
	position: absolute;
	right: -10%;
	bottom: -10%;
	width: 60%;
	height: 60%;
	border-radius: 60% 0;
	background: radial-gradient(at 0 0, rgba(0, 130, 255, 0.3) 40%, rgba(255, 154, 204, 0.7) 50%);
	transform-origin: 0 0;
	animation: soap_rotate 15s 0s ease-in-out infinite;
	filter: blur(15px);
}
.soap::after{
	content: "";
	position: absolute;
	left: -10%;
	top: -10%;
	width: 60%;
	height: 60%;
	border-radius: 20% 0;
	background: radial-gradient(at 100% 100%, rgba(255, 255, 100, 0.5) 40%, rgba(120, 255, 140, 0.7) 60%);
	transform-origin: 100% 100%;
	animation: soap_rotate 10s 0s ease-in-out infinite;
	filter: blur(15px);
}

@keyframes soap_rotate{
	0%{transform: rotate(0);}
	50%{transform: rotate(360deg);}
}

/*上下に移動 お好みで*/
@keyframes soap{
	0%{transform: translateY(0px);}
	100%{transform: translateY(600px);}
    0%{transform: perspective(500px) rotate3d(1,2,1,45deg);}
}

.back{
    background-color: greenyellow;
}